@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300 F..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* shared styles */

.dark-2 {
    color: #474747;
}

.text_primary {
    color: rgb(253, 110, 10);
}

.btn-primary {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    padding: 18px 35px;
}

.section-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.section-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

.second-bg {
    border-radius: 10px;
    background: rgb(255, 248, 243);
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 230px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

nav ul {
    display: flex;
    align-items: center;
}


/* banner styles */
.banner-greeting {

    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-img {
    width: 584px;

}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content {
    max-width: 785px;
}

/* header */
.header {
    background: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* main style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about style */
.about {
    padding: 130px 150px;
    margin-top: 130px;
}

.about-items {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}


.hide {
    display: none;
}


/* responsive layout */
@media screen and (max-width: 768px) {

    nav,
    .banner,
    .skill-container,
    footer {
        flex-direction: column;
        margin: 0 auto;
    }

    .about-items {
        flex-direction: column;

        align-items: center;

    }

    .about-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .banner-img {
        max-width: 100%;

    }

  

@media screen and (min-width: 769px) and (max-width: 992px) {


    .banner-img {
        max-width: 60%;

    }


}
}